.container{
  display: flex;
  align-items: center;
}
.thead-dark{
  background-color: black;
}
table{
  margin: 2px auto;
  color: wheat;
}
tbody{
  color:black;
}
.action{
  margin-left:2px;
}
.adduser{
  text-align: center;
}
form{
  width :60%;
  margin: 2px auto;
}
.finaladd{
  margin-top: 7px;
  font-weight: bold;
  font-size: 2rem;
}